html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.footer-cuz {
   
    
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
}
